@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 18%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #dfd; /* Black */
    text-align: center;
    overflow-x: auto; /* Disable horizontal scroll */
    padding-top: 30px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #6f6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #efe;
}

/* Style page content */
.main {
    margin-left: 18%; /* Same as the width of the sidebar */
    padding: 0px 10px;
    /* font-size: 16px; */
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
    color: #0d0;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
